/* GENERAL */

body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#f4f4f4;
color:#333;
}

/* NAVBAR */

nav{
background:#0f2a44;
padding:15px;
text-align:center;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-size:18px;
transition:0.3s;
}

nav a:hover{
color:orange;
}

/* HERO SECTION */

.hero{
background:linear-gradient(#0f2a44,#1e4d7b);
color:white;
text-align:center;
padding:120px 20px;
}

.hero h1{
font-size:42px;
margin-bottom:10px;
}

.hero p{
font-size:18px;
margin-bottom:20px;
}

.hero button{
padding:12px 30px;
background:orange;
border:none;
font-size:18px;
cursor:pointer;
border-radius:5px;
}

/* HEADER */

.header{
background:linear-gradient(#0f2a44,#1e4d7b);
color:white;
text-align:center;
padding:80px;
}

/* SERVICES */

.services{
padding:60px;
text-align:center;
}

.service-container{
display:flex;
flex-wrap:wrap;
justify-content:center;
}

.service-box{

background:white;
width:260px;
margin:20px;
padding:25px;
border-radius:10px;
box-shadow:0 10px 20px rgba(0,0,0,0.1);
transition:0.3s;

}

.service-box:hover{
transform:translateY(-10px);
}

/* CONTACT */

.contact{
padding:60px;
text-align:center;
}

.contact-container{

background:white;
width:400px;
margin:auto;
padding:30px;
border-radius:10px;
box-shadow:0 10px 20px rgba(0,0,0,0.1);

}

input, textarea{

width:100%;
padding:12px;
margin:10px 0;
border:1px solid #ccc;
border-radius:5px;

}

/* BUTTON */

button{

padding:12px 25px;
background:orange;
border:none;
font-size:16px;
cursor:pointer;
border-radius:5px;

}

button:hover{
background:#e68a00;
}

/* LOGIN & SIGNUP */

.form-box{

background:white;
width:350px;
margin:80px auto;
padding:30px;
border-radius:10px;
box-shadow:0 10px 20px rgba(0,0,0,0.1);
text-align:center;

}

/* FOOTER */

footer{
background:#0f2a44;
color:white;
text-align:center;
padding:20px;
margin-top:40px;
}
